<!-- From History Modal -->
<div class="modal" id="phoneNumberVerification" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="phoneNumberVerification" style="max-width:1000px;">
        <div class="modal-content" id="phoneNumberVerificationModalContent">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Upload Document into group</h5>
                <button type="button" class="close" data-dismiss="modal" id="close_history_modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fas fa-table"></i>
                        Phone Number Verification</div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <span id="phone_number_span">Enter Phone number: <input type="text" name="phone_number" id="phone_number"  pattern="[9]{1}[1]{1}[7-9]{1}[0-9]{9}" title="Phone number with 91(country code) and 7-9 and remaing 9 digit with 0-9"><br><br></span>
                            <span style="display:none;" id="otp_span">Enter OTP: <input type="number" name="otp" id="otp" ><br><br></span>
                            <%= button_tag "Get OTP", :class => 'btn_1', :id => 'send_otp' %>
                            <%= button_tag "Create Account and save Doc", :class => 'btn_1', :id => 'create_account_with_doc', :style => 'display:none;' %>
                        </div>
                    </div>
                    <div class="card-footer small text-muted">
                    </div>
                    <div id="loader_wrap_from_history" class="loader_wrap">
                        <img src="/images/loader.gif" id="loader_img" width="100" height="100">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
$(document).ready(function() {
    $(document).on('click', '#continue_with_number', function(e) {
        if (check_all_form_valid()) {
            $('#phoneNumberVerification').modal('show');
        } else {
            notification("Please fill all entries.", "error")
        }
    });
    $(document).on('click', '#send_otp', function() {
        var phn_num = $('#phone_number').val();
        send_otp_to_phone_number(phn_num);

    });

    $(document).on('click', '#create_account_with_doc', function() {
        function onSuccess(response) {
            $('#phoneNumberVerification').modal('hide')
            if (response['message']['source'] == 'without_user') {
                $('#continue_with_number').show();
                $('#upload_submit_button').hide();
                $('#documents_form').find('form').attr('group_id', response['group_id'])
            }
            $('#loader_wrap_main').hide()
            $(self).text('Submit Selected');
            $(self).removeAttr('disabled');
            fillResponse(response);
        }

        function onError(error) {
            $('#phoneNumberVerification').modal('hide')
            $('#loader_wrap_main').hide()
            $(this).text('Submit Selected');
            $(this).removeAttr('disabled');
        }
        submitForm($('#new_upload_document'), onSuccess, onError);
    });

    $(document).on('change', '.documentFileField', function(e) {
        var fileName = $(this).val().split('fakepath')[1].slice(1);
        //replace the "Choose a file" label
        var doc_name = fileName.split('.')[0];
        $(this).parents('.row').find('.document_name').val(doc_name);
        $(this).next('.custom-file-label').html(fileName);

        remove_empty_doc();

        var files = $(this)[0].files;
        var dT = new ClipboardEvent('').clipboardData || new DataTransfer();
        dT.items.add(files[0]);
        document.querySelector("[name='" + $(this).attr('name') + "']").files = dT.files;
        if (files.length > 1) {
            for (var i = 0; i < files.length - 1; i++) {
                if (i < files.length - 1) {
                    clone_doc_wrap();
                }
                fill_file_entry(files[i + 1]);
            }
        }
    });

    function send_otp_to_phone_number(phone_number) {
        $.ajax({
            type: "POST",
            beforeSend: setCsrfToken, // implemented in application.html.erb
            url: "/send_otp_to_phone_number",
            data: { phone_number: phone_number },
            success: function(data) {
                if (data['status'] == true) {
                    $('#otp_span').show();
                    $('#phone_number_span').hide();
                    $('#send_otp').hide();
                    $('#create_account_with_doc').show();
                    notification("Please check OTP and Enter", "info");
                }
            },
            error: function(exception) {
                notification(JSON.parse(exception['responseText'])['message'], "error");
            }
        });
    }

    function check_all_form_valid() {
        var status = true;
        $('#new_upload_document').find('.document').each(function(i, doc) {
            if ($(doc).find('input[type]:file').val() == '' || $(doc).find('input[type]:text').val() == '') {
                status = false
            }
        });
        return status;
    }

    function fillResponse(res) {
        response = res;
        Object.keys(res['message']).forEach(function(key, value) {
            var doc = $('#documents_form').find('.document').get(parseInt(key));
            var class_name = ''
            if (response['message'][key][0] == true) {
                class_name = 'success_message';
            } else {
                class_name = 'error_message';
            }
            $(doc).find('.message').text(response['message'][key][1])
            $(doc).find('.message').addClass(class_name)
        });
    }

    function fill_file_entry(file) {
        var first_empty_input = get_index_of_first_empty_doc() + 1;
        if (first_empty_input != 0) {
            var doc_filename_input = 'upload_document[' + first_empty_input + '][document]'
            var file_ele = $('form').find("[name='" + doc_filename_input + "']")

            var dT = new ClipboardEvent('').clipboardData || new DataTransfer();
            dT.items.add(file);

            document.querySelector("[name='" + doc_filename_input + "']").files = dT.files;
            var fileName = $(file_ele).val().split('fakepath')[1].slice(1);
            //replace the "Choose a file" label
            var doc_name = fileName.split('.')[0];
            $(file_ele).parents('.row').find('.document_name').val(doc_name);
            $(file_ele).next('.custom-file-label').html(fileName);
        }
    }

    $("#add_more_button").click(function() {
        clone_doc_wrap();
    });

    function clone_doc_wrap() {
        var new_doc = $(".document").first().clone();
        var total_doc = $('#documents_form').find('.document').length
        var label_name_for = $(new_doc).find('label').attr('for') + (total_doc + 1).toString();
        var new_select_name = 'upload_document[' + (total_doc + 1).toString() + '][print_type]'
        var document_name = 'upload_document[' + (total_doc + 1).toString() + '][document_name]';
        var document_name_id = $(new_doc).find('#upload_document_document_name').attr('id') + (total_doc + 1).toString();
        var document_file_name = 'upload_document[' + (total_doc + 1).toString() + '][document]';
        $(new_doc).find('input[type=text]').attr('id', document_name_id);
        $(new_doc).find('input[type=text]').attr('name', document_name).val('');
        $(new_doc).find('input[type=file]').attr('name', document_file_name).val('');
        $(new_doc).find('select').attr('name', new_select_name).val('');
        $(new_doc).find('select').children().first().attr('selected', 'selected');
        $(new_doc).find('label').attr('for', label_name_for);
        $(new_doc).find('label[class=custom-file-label]').html('File');
        $('<i>').attr({ class: 'fas fa-times remove_form fa-2x col-1', style: "cursor:pointer;color:red;" }).insertBefore(new_doc.find('.message'));
        $('#documents_wrap').append(new_doc);
    }

    function get_index_of_first_empty_doc() {
        var index = 0;
        $('#new_upload_document').find('.document').each(function(i, doc) {
            if (i == 0) { return; }
            if ($(doc).find('input[type]:file').val() == '' || $(doc).find('input[type]:text').val() == '') {
                index = i;
                return false;
            }
        });
        return index;
    }

    function remove_empty_doc() {
        var i = 0;
        $('#new_upload_document').find('.document').each(function(i, doc) {
            if (i == 0) { return; }
            if ($(doc).find('input[type]:file').val() == '' || $(doc).find('input[type]:text').val() == '') {
                $(this).remove();
            }
            i++;
        });
    }

    $(document).on('click', '.remove_form', function() {
        $(this).parent('.document').remove();

    });


    function submitForm(form, success_cb, error_cb) {
        var history_data = ""
        var valuesToSubmit = new FormData(form.get(0));
        var document_ids = $('#history_list').find('.history_document').map(function() {
            return $(this).attr('id');
        }).get().join();
        var phone_number = $('#phone_number').val();
        var otp = $('#otp').val();
        valuesToSubmit.append('otp', otp);
        valuesToSubmit.append('phone_number', phone_number);
        valuesToSubmit.append('history_document_ids', document_ids);
        valuesToSubmit.append('company_id', $('#company').children('option:selected').val());
        $.ajax({
            type: "POST",
            beforeSend: setCsrfToken,
            url: $(form).attr('action'), //sumbits it to the given url of the form
            data: valuesToSubmit,
            processData: false,
            contentType: false,
            success: function(response) {
                if (success_cb) success_cb(response)
            },
            error: function(error) {
                if (error_cb) error_cb(error)
            }
        });
    }
});
</script>