<!-- From Desktop Modal -->
<div class="modal fade" id="selectPageWrapper" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 70rem;">
        <div class="modal-content" id="selectPageModalContent" group_doc_id="" group_id="">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Select Pages</h5>
                <button type="button" class="select_page_close close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="wrapper">
                <div id="pdf_wrapper">
                    <div id="pdf_content">
                    </div>
                </div>
            </div>
            <input type="submit" value="Update Document" class="btn btn-primary main_button" id="create_pdf_with_selected_page" style="display: none;"><br>
            <div id="loader_wrap_desktop" class="loader_wrap">
                <img src="/images/loader.gif" id="loader_img" width="100" height="100">
            </div>
        </div>
    </div>
</div>