<!-- From Desktop Modal -->
<div class="modal fade" id="selectPageWrapper" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 70rem;">
        <div class="modal-content" id="selectPageModalContent" group_doc_id="" group_id="">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Select Pages</h5>
                <div class="page_selection_wrapper">
                    <select class="form-control select_page_tag" id="type" name="upload_document_select_page">
                        <option value="all">All</option>
                        <option value="select" class="open_pdf_viewer" data-toggle="modal" data-target="#selectPageWrapper">Select</option>
                    </select>
                </div>
                <button type="button" class="select_page_close close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="wrapper">
                <div id="pdf_wrapper" style="width:100%;">
                    <div id="pdf_content">
                    </div>
                </div>
            </div>
            <input type="submit" value="Update Document" class="btn btn-primary main_button" id="create_pdf_with_selected_page" style="display: none;"><br>
            <div id="loader_wrap_desktop" class="loader_wrap">
                <img src="/images/loader.gif" id="loader_img" width="100" height="100">
            </div>
        </div>
    </div>
    <div class="main_button btn_1 save_selected_page_button" style="position:fixed;left: 40%;top: 94%;display: none;"> Save Selected Pages</div>
</div>

<script>
$(document).on('change', '.select_page_tag', function() {
  if(this.value == "select"){
        $('.checkbox_wrap').show();
        $('.save_selected_page_button').show();
  }
  else
  {
        $('.checkbox_wrap').hide();
        $('.save_selected_page_button').hide();
  }
});
$(document).on('click', '.save_selected_page_button', function() {
    if ($('.select_page_check_box:checked').length <= 0)
    {
        notification("Please Select Pages or select All", "error");
    }
    else
    {
        // $(this).parents('.document').find()document
        var file_input_id = $(this).parents('#selectPageWrapper').attr('file_input_id');
        $('#documents_form').find("[id=" + file_input_id + "]")
        var page_numbers = $('.select_page_check_box:checked').map(function() {
            return $(this).attr('id');
        }).get().join(',');
        $('#documents_form').find("[id=" + file_input_id + "]").parents('.row').find('.page_details').val(page_numbers)
        $('#selectPageWrapper').modal('hide');
    }
});
</script>