<!-- Modal -->
<div class="modal fade" id="TermsAndConditionsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Terms and Conditions</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Our service center is not responsible for the misprint OR any other problem then could depend upon the content you upload. So make sure you checked everything and convert that into pdf format before uploading it to our system.</p>
        <p>Once you pay the fees it is not refundable. So make sure you have checked everything before submit it for printing.</p>
        <p>Printing will be done both the side of each page so make sure you are aware of this fact.</p>
        <p>Though Our system is fast but still, Until your pages are not confirmed as printed on the dashboard(On our website), We are not bide to give your pages immediately(You might need to wait).</p>
        <p>You might need to wait for turn if you need any changes manually.</p>
        <p>Service Center need an OTP in order to release your printed pages. Any pages without OTP will not be provided.</p>
        <p>Though our system is secure, we are not responsible for the leakage of the Confidential Information your content might have.</p>
        <p>In order to complete the process, You might need to coordinate with us for unknown conditions Like printing faults OR Electricity cut.</p>
      </div>
      <div class="modal-footer">
        <div class="col-lg-12">
            <div class="copyright_part_text text-center">
                <div class="row">
                    <div class="col-lg-12">
                        <p class="footer-text m-0">Copyright © Remote Printer 2019</p>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
