<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item active">All Users</li>
</ol>
<div id="users">
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Total Users: <span id="total_group_item">
                <%= @users.count %></span>
        </div><br>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered document_table" id="dataTable" width="100%" cellspacing="0" data-turbolinks="false">
                    <thead>
                        <tr>
                            <th width="40%">Email</th>
                            <th width="25%">OTP</th>
                            <th width="25%">Confirmed</th>
                            <th width="10%">Details</th>
                        </tr>
                    </thead>
                    <tbody id="tbody_head">
                        <%# @users.each do |user| %>
                        <!-- <a href=""> -->
                        <!-- <tr data-id="<%#= user.id %>" class="user_record">
                                <td class="email">
                                    <%#= user.email %>
                                </td>
                                <td class="otp">
                                    <%#= user.confirmable_otp %>
                                </td>
                                <td>
                                    <%#= user.otp_confirmed ? 'yes' : 'no' %>
                                </td>
                                <td>
                                    <%#= link_to 'Details', show_user_url(:id => user.id.to_s), :class => 'group_detail_anchor'  %>
                                </td>
                            </tr>
                        </a> -->
                        <%# end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
function initDataTable() {
    var document_table = $('#dataTable').DataTable({
        "serverSide": true,
        "processing": true,
        // "searching": false,
        "bLengthChange": false,
        "lengthMenu": [10],
        "ajax": {
            "url": "/admins/user_list",
            "dataSrc": function(json) {
                return json.users;
            },
            "data": function(data) {
                var page_number = $('#dataTable').DataTable().page.info().page;
                data['page_number'] = page_number
                return data;
            }
        },
        "columns": [
            { "data": "email" },
            { "data": "otp" },
            { "data": "is_confirmed" },
            { "data": "detail" }
        ],

        "columnDefs": [{
                "targets": 3,
                "data": "detail",
                "render": function(data, type, row, meta) {
                    if (data != false) {
                        data = '<a href="/users/' + data['$oid'] + '" ' + 'class="group_detail_anchor">Details</a>'
                    }
                    return data;
                }
            },
            {
                "targets": 1,
                "data": "otp",
                "className": "table_entry_name",
                "render": function(data, type, row, meta) {
                    var otp = 'NA'
                    if(data != ''){
                        otp = data;
                    }
                    return otp;
                }
            }
        ],
        "createdRow": function(row, data, dataIndex) {
            $(row).addClass('user_record');
        },

        "fnDrawCallback": function() {
            // $('.dataTables_filter input').unbind();
            // $('.dataTables_filter input').bind('keyup', function(e) {
            //     if (e.keyCode == 13) {
            //         document_table.search(this.value).draw();
            //     }
            // });
        }
    });
}

$(document).ready(function() {
    initDataTable();
});
</script>