<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style type="text/css" media="screen">
    h3 {
        color: #f00;
    }

    ul {
        list-style: none;
    }
    </style>
</head>

<body>
    <ul>
    	<li>Email:
            <%= @email %>
        </li>
        <li>From:
            <%= @name %>
        </li>
        <li>Message:
            <%= @message %>
        </li>
    </ul>
</body>

</html>