<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="#">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">List Group Documents</li>
</ol>
<div id="group_content">
    <%= render "groups/partial/group_details" %>
</div>
<script>
	function setCsrfToken(xhr) {
	    xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
	}
</script>