<div class="">
    <div class="">
        <div class="">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">Upload Documents</li>
            </ol>
            <div id="documents_form">
                <form class="new_upload_document new_document_form" id="new_upload_document" enctype="multipart/form-data" action="/save_group" accept-charset="UTF-8" method="post">
                    <input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="/lBy4wW+drsehD1P5YX+g9/EQJAkOSWWhh+jyLtzD6W3JdkjX7hB1jHh7MJBzV7nmEPqIA4Ltc6XOsnkh5oZjg==">
                    <div id="documents_wrap">
                        <div class="document row form-group" style="margin-left: 0px;">
                            <div class="col-5 col-sm-5 document_name_field">
                                <div>
                                    <input autofocus="autofocus" class="form-control" placeholder="Document Name" required="required" type="text" value="" name="upload_document[1][document_name]" id="upload_document_document_name">
                                </div>
                            </div>
                            <div class="input-group col-5 col-sm-5">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input uploadDocument documentFileField" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" name="upload_document[1][document]" id="upload_document_document">
                                    <label class="custom-file-label" for="inputGroupFile01">File</label>
                                </div>
                            </div>
                            <!-- <i class="fas fa-times remove_form fa-2x col-1" style="cursor:pointer;color:red;"></i> -->
                            <div class="message col-12 col-sm-12"></div>
                        </div>
                    </div>
                    <input type="hidden" name="history_document" id="history_document" value="">
                </form>
                <div id="history_list">
                </div>
            </div>
            <div id="action_button" style="margin-top: 2rem;">
                <%= button_tag "Upload", :class => 'btn_1', :id => 'upload_submit_button' %>
                <%= button_tag "Add More", :class => 'btn_1', :id => 'add_more_button' %>
                <%= button_tag "Add From History", :class => 'btn btn-primary', :id => 'add_more_from_history_button', :data => {:toggle => 'modal', :target => '#fromHistory'} %>
            </div>
        </div>
    </div>
    <div id="loader_wrap_main" class="loader_wrap" style="display: none;">
        <img src="/images/loader.gif" id="loader_img" width="100" height="100">
    </div>
</div>
<%= render "groups/partial/from_history_main" %>
<script>
$(document).ready(function() {
    $(document).on('change', '.documentFileField', function(e) {
        var fileName = $(this).val().split('fakepath')[1].slice(1);
        //replace the "Choose a file" label
        $(this).next('.custom-file-label').html(fileName);
    })
    $("#add_more_button").click(function() {
        var new_doc = $(".document").first().clone();
        var total_doc = $('#documents_form').find('.document').length
        var label_name_for = $(new_doc).find('label').attr('for') + (total_doc + 1).toString();
        var document_name = 'upload_document[' + (total_doc + 1).toString() + '][document_name]';
        var document_name_id = $(new_doc).find('#upload_document_document_name').attr('id') + (total_doc + 1).toString();
        var document_file_name = 'upload_document[' + (total_doc + 1).toString() + '][document]';
        $(new_doc).find('input[type=text]').attr('id', document_name_id);
        $(new_doc).find('input[type=text]').attr('name', document_name).val('');
        $(new_doc).find('input[type=file]').attr('name', document_file_name).val('');
        $(new_doc).find('label').attr('for', label_name_for);
        $(new_doc).find('label[class=custom-file-label]').html('File');
        $('<i>').attr({ class: 'fas fa-times remove_form fa-2x col-1', style: "cursor:pointer;color:red;" }).insertBefore(new_doc.find('.message'));
        $('#documents_wrap').append(new_doc);
    });

    $(document).on('click', '#upload_submit_button', function(e) {
        var total_count = $('.document').length;
        var success_count = 0;
        var count = 1;
        var self = this;
        $('#loader_wrap_main').show();
        $(this).text('Please wait');
        $(this).attr('disabled', 'true');
        var check_if_valid = check_all_form_valid();
        if (check_if_valid == true) {
            submitForm($('form'), onSuccess, onError);
        } else {
            $('#loader_wrap_main').hide()
            $(this).text('Upload');
            $(this).removeAttr('disabled');
            notification("Please fill all entries.", "error")
        }

        function onSuccess(response) {
            $('#loader_wrap_main').hide()
            $(this).text('Upload');
            $(this).removeAttr('disabled');
            fillResponse(response);
        }

        function onError(error) {
            // body...
        }
    });

    function submitForm(form, success_cb, error_cb) {
        var history_data = ""
        var valuesToSubmit = new FormData(form.get(0));
        var document_ids = $('#history_list').find('.history_document').map(function() {
            return $(this).attr('id');
        }).get().join();
        valuesToSubmit.append('history_document_ids', document_ids);
        $.ajax({
            type: "POST",
            beforeSend: setCsrfToken,
            url: $(form).attr('action'), //sumbits it to the given url of the form
            data: valuesToSubmit,
            processData: false,
            contentType: false,
            success: function(response) {
                if (success_cb) success_cb(response)
            },
            error: function(error) {
                if (error_cb) error_cb(error)
            }
        });
    }

    function fillResponse(res) {
        response = res;
        Object.keys(res['message']).forEach(function(key, value) {
            var doc = $('#documents_form').find('.document').get(parseInt( key));
            var class_name = ''
            if (response['message'][key][0] == true) {
                class_name = 'success_message';
            } else {
                class_name = 'error_message';
            }
            $(doc).find('.message').text(response['message'][key][1])
            $(doc).addClass(class_name)
        })
    }
});

function check_all_form_valid() {
    var status = true;
    $('.new_upload_document').each(function(i, form) {
        if ($(form).find('input[type]:file').val() == '' || $(form).find('input[type]:text').val() == '') {
            status = false
        }
    });
    return status;
}

$(document).on('click', '.remove_form', function() {
    $(this).parent('.document').remove();

});

$(document).on('click', '.remove_history_document', function() {
    $('#history_document').val().replace($(this).siblings('.history_document').attr('id'), '')
    $(this).parent('.history_document_wrapper').remove();
});
</script>