
    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner text-center">
                        <div class="breadcrumb_iner_item">
                            <h2>About Us</h2>
                            <p>Home<span>/</span>About Us</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->

    
    <!-- feature_part start-->
    <section class="feature_part">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xl-3 align-self-center">
                    <div class="single_feature_text ">
                        <h2>Guidance &amp; Assistance</h2>
                        <p>We are here to help with your professional work and documentations. We keep ourself upto date with offical protocols, just to keep your work up to the mark. </p>
                        <a href="#" class="btn_1">Read More</a>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="single_feature">
                        <div class="single_feature_part">
                            <span class="single_feature_icon"><i class="ti-layers"></i></span>
                            <h4>Remote Printing</h4>
                            <p>You can upload your document here and collect printed copies directly from our center. Sign-Up to upload your documents here. We will get it print for you in no time.Our automatic machine will update you  and you can collect it from our Service Center.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="single_feature">
                        <div class="single_feature_part">
                            <span class="single_feature_icon"><i class="ti-new-window"></i></span>
                            <h4>Online form filling</h4>
                            <p>Heared a new job vancancy and not sure how to apply for it? Just visit us and we will try our best knowledge to achieve it, We have filled thousands of various jobs/examination/scholarship forms.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="single_feature">
                        <div class="single_feature_part single_feature_part_2">
                            <span class="single_service_icon style_icon"><i class="ti-light-bulb"></i></span>
                            <h4>Documentation</h4>
                            <p>Weather it is a CV/Office Work/Project Documentation or PPT, We have good command on it, we just need your details and corresponding data, In return we will polish your work to be attractive.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
     <!-- learning part start-->
    <section class="learning_part">
        <div class="container">
            <div class="row align-items-sm-center align-items-lg-stretch">
                <div class="col-md-7 col-lg-7">
                    <div class="learning_img">
                        <%= image_tag ('learning_img.jpg')%>
                        <!-- <img src="/assets/learning_img.jpg" alt=""> -->
                    </div>
                </div>
                <div class="col-md-5 col-lg-5">
                    <div class="learning_member_text">
                        <h5>Rencetly Launched:</h5>
                        <h2>Print Remotely</h2>
                        <p>Easy Steps: Upload Your Documents &gt;&gt;&gt; Set for Printing &gt;&gt;&gt; Call at our Center And Pay via Google Pay or Paytm &gt;&gt;&gt; Get Auto Updates, If your documents has been printed &gt;&gt;&gt; Get it from our Center by Confirming OTP.</p>
                        <ul>Benefits Of using our online service:
                            <li><span class="ti-pencil-alt"></span>- Save your documents for a week on our server, whenever you want it just call at our center, Just Tell your identity and document Name and we will get it printed for you.</li>
                            <li><span class="ti-ruler-pencil"></span>- Fast and Easy way: You don't have to wait for your turn to get your documents printed. We are here to save your precious time. </li>
                            <li><span class="ti-pencil-alt"></span>- Automatic Updates: Our system will update you on dashboard once the documents are printed.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- learning part end-->

    <!--::review_part start::-->
    <!-- <section class="testimonial_part section_padding">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-xl-5">
                    <div class="section_tittle text-center">
                        <p>tesimonials</p>
                        <h2>Happy Students</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="textimonial_iner owl-carousel">
                        <div class="testimonial_slider">
                            <div class="row">
                                <div class="col-lg-8 col-xl-4 col-sm-8 align-self-center">
                                    <div class="testimonial_slider_text">
                                        <p>Behold place was a multiply creeping creature his domin to thiren open void
                                            hath herb divided divide creepeth living shall i call beginning
                                            third sea itself set</p>
                                        <h4>Michel Hashale</h4>
                                        <h5> Sr. Web designer</h5>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-xl-2 col-sm-4">
                                    <div class="testimonial_slider_img">
                                        <%#= image_tag("testimonial_img_1.png") %>
                                        <!-- <img src="/assets/testimonial_img_1.png" alt="#"> -->
                                   <!--  </div>
                                </div>
                                <div class="col-xl-4 d-none d-xl-block">
                                    <div class="testimonial_slider_text">
                                        <p>Behold place was a multiply creeping creature his domin to thiren open void
                                            hath herb divided divide creepeth living shall i call beginning
                                            third sea itself set</p>
                                        <h4>Michel Hashale</h4>
                                        <h5> Sr. Web designer</h5>
                                    </div>
                                </div>
                                <div class="col-xl-2 d-none d-xl-block">
                                    <div class="testimonial_slider_img"> -->
                                        <%#= image_tag("testimonial_img_1.png") %>
                                        <!-- <img src="/assets/testimonial_img_1.png" alt="#"> -->
                                 <!--    </div>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial_slider">
                            <div class="row">
                                <div class="col-lg-8 col-xl-4 col-sm-8 align-self-center">
                                    <div class="testimonial_slider_text">
                                        <p>Behold place was a multiply creeping creature his domin to thiren open void
                                            hath herb divided divide creepeth living shall i call beginning
                                            third sea itself set</p>
                                        <h4>Michel Hashale</h4>
                                        <h5> Sr. Web designer</h5>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-xl-2 col-sm-4">
                                    <div class="testimonial_slider_img"> -->
                                        <%#= image_tag("testimonial_img_1.png") %>
                                        <!-- <img src="/assets/testimonial_img_1.png" alt="#"> -->
                                    <!-- </div>
                                </div>
                                <div class="col-xl-4 d-none d-xl-block">
                                    <div class="testimonial_slider_text">
                                        <p>Behold place was a multiply creeping creature his domin to thiren open void
                                            hath herb divided divide creepeth living shall i call beginning
                                            third sea itself set</p>
                                        <h4>Michel Hashale</h4>
                                        <h5> Sr. Web designer</h5>
                                    </div>
                                </div>
                                <div class="col-xl-2 d-none d-xl-block">
                                    <div class="testimonial_slider_img"> -->
                                        <%#= image_tag("testimonial_img_1.png") %>
                                        <!-- <img src="/assets/testimonial_img_1.png" alt="#"> -->
                                 <!--    </div>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial_slider">
                            <div class="row">
                                <div class="col-lg-8 col-xl-4 col-sm-8 align-self-center">
                                    <div class="testimonial_slider_text">
                                        <p>Behold place was a multiply creeping creature his domin to thiren open void
                                            hath herb divided divide creepeth living shall i call beginning
                                            third sea itself set</p>
                                        <h4>Michel Hashale</h4>
                                        <h5> Sr. Web designer</h5>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-xl-2 col-sm-4">
                                    <div class="testimonial_slider_img"> -->
                                        <%#= image_tag("testimonial_img_1.png") %>
                                        <!-- <img src="/assets/testimonial_img_1.png" alt="#"> -->
                                    <!-- </div>
                                </div>
                                <div class="col-xl-4 d-none d-xl-block">
                                    <div class="testimonial_slider_text">
                                        <p>Behold place was a multiply creeping creature his domin to thiren open void
                                            hath herb divided divide creepeth living shall i call beginning
                                            third sea itself set</p>
                                        <h4>Michel Hashale</h4>
                                        <h5> Sr. Web designer</h5>
                                    </div>
                                </div>
                                <div class="col-xl-2 d-none d-xl-block">
                                    <div class="testimonial_slider_img">
                                        <%#= image_tag("testimonial_img_1.png") %> -->
                                        <!-- <img src="/assets/testimonial_img_1.png" alt="#"> -->
                                    <!-- </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section> -->
    <!--::blog_part end::-->