<section class="banner_part_2">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-xl-6">
                <div class="banner_text">
                    <div class="banner_text_iner">
                        <h5>Printing | Scanning | Scholarship Appliance | Spiral Binding | Passport | Pan-Card | Driving License | Govt Job Forms | Project Work and Miscellaneous</h5>
                        <h1>AP Computer: Your Assistant for Web and Computer Work</h1>
                        <p>We are here to provide you services that help you in various occasions weather academic or professional. Visit our place for once, we assure you that you will prefer our service every time in future. Our prices are genuine and mostly lower than the average prices in market.</p>
                        <% if !current_user.present? %>
                        <div>
                            <span class="login_helper">To use remote printing </span>
                            <%= link_to(upload_doc_path, :class => "btn_1 home_login_button") do %>
                            Upload Document
                            <% end %>
                        </div>
                        <% end %>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-6 pt-4">
                <%= image_tag('banner_img.jpg')%>
            </div>
        </div>
    </div>
</section>
<div class="container-fluid" id="digital_india" style="display: none;">
    <div class="row digital_row">
        <div class="col-12 col-sm-3 text-center">
            <%= image_tag("digital_india.png", :class => "mt-3 digital_india_logo") %>
        </div>
        <div class="col-12 col-sm-6 text-center">
            <h1 class="p-2 digital_india_header">Digital Service</h1>
        </div>
        <div class="col-12 col-sm-3 text-center">
            <h1 class="digital_india_right_header">C|<span class="" style="color: grey;">S</span>|C</h1>
        </div>
    </div>
    <div class="row digital_row">
        <div class="col-2 col-sm-2 text-center feature" style="background-color: orange;">
            <div>
                <i class="fas fa-sun fa-4x pt-3 font_icon" style="font-size: 2vw;"></i>
                <div class="pt-2"><span class="text_wrap" style="font-size:1.5vw;display: block;">Aadhar Registration</span></div>
            </div>
        </div>
        <div class="col-2 col-sm-2 text-center feature" style="background-color: #0095ff;">
            <i class="fas fa-id-card fa-4x pt-3 font_icon" style="font-size: 2vw;"></i>
            <div class="pt-2"><span class="text_wrap" style="font-size:1.5vw;display: block;">Pan Card<br>Election Card<br>Passport</span></div>
        </div>
        <div class="col-2 col-sm-2 text-center feature" style="background-color: #7534a7;">
            <i class="far fa-lightbulb fa-4x pt-3 font_icon" style="font-size: 2vw;"></i>
            <div class="pt-2"><span class="text_wrap" style="font-size:1.5vw;display: block;">Electricity Bill</span></div>
        </div>
        <div class="col-2 col-sm-2 text-center feature" style="background-color: #af9412;">
            <i class="fas fa-mobile-alt fa-4x pt-3 font_icon" style="font-size: 2vw;"></i>
            <div class="pt-2"><span class="text_wrap" style="font-size:1.5vw;display: block;">Mobile Recharge</span></div>
        </div>
        <div class="col-2 col-sm-2 text-center feature" style="background-color: #2378a5;">
            <i class="fas fa-piggy-bank fa-4x pt-3 font_icon" style="font-size: 2vw;"></i>
            <div class="pt-2"><span class="text_wrap" style="font-size:1.5vw;display: block;">Finance Insurance</span></div>
        </div>
        <div class="col-2 col-sm-2 text-center feature" style="background-color: green;">
            <i class="fas fa-plane-departure fa-4x pt-3 font_icon" style="font-size: 2vw;"></i>
            <div class="pt-2"><span class="text_wrap" style="font-size:1.5vw;display: block;">Air, Train, Bus Ticket</span></div>
        </div>
    </div>
    <div class="row" id="digital_row">
        <div class="col-12 col-sm-12 text-center">
            <h4 style="font-weight:bold;">AP Computer &nbsp;&nbsp; <span style="color:red;">+917710706771</h4>
        </div>
    </div>
</div>
<div class="container pt-5">
    <div class="row">
        <div class="col-sm-6 col-xl-3 align-self-center">
            <div class="single_feature_text ">
                <h2>Guidance &amp; Assistance</h2>
                <p>We are here to help with your professional work and documentations. We keep ourself upto date with offical protocols, just to keep your work up to the mark. </p>
                <a href="#" class="btn_1">Read More</a>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3 remote_printing_col">
            <div class="single_feature">
                <div class="single_feature_part">
                    <span class="single_feature_icon"><i class="ti-layers"></i></span>
                    <h4>Remote Printing</h4>
                    <p>You can upload your document here and collect printed copies directly from our center. Sign-Up to upload your documents here. We will get it print for you in no time.Our automatic machine will update you and you can collect it from our Service Center.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="single_feature">
                <div class="single_feature_part">
                    <span class="single_feature_icon"><i class="ti-new-window"></i></span>
                    <h4>Online form filling</h4>
                    <p>Heared a new job vancancy and not sure how to apply for it? Just visit us and we will try our best knowledge to achieve it, We have filled thousands of various jobs/examination/scholarship forms.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="single_feature">
                <div class="single_feature_part single_feature_part_2">
                    <span class="single_service_icon style_icon"><i class="ti-light-bulb"></i></span>
                    <h4>Documentation</h4>
                    <p>Weather it is a CV/Office Work/Project Documentation or PPT, We have good command on it, we just need your details and corresponding data, In return we will polish your work to be attractive.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container pt-5">
    <div class="row align-items-sm-center align-items-lg-stretch">
        <div class="col-md-7 col-lg-7">
            <div class="learning_img">
                <%= image_tag ('learning_img.jpg')%>
                <!-- <img src="/assets/learning_img.jpg" alt=""> -->
            </div>
        </div>
        <div class="col-md-5 col-lg-5">
            <div class="learning_member_text">
                <h5>Rencetly Launched:</h5>
                <h2>Print Remotely</h2>
                <p>Easy Steps: Upload Your Documents &gt;&gt;&gt; Set for Printing &gt;&gt;&gt; Call at our Center And Pay via Google Pay or Paytm &gt;&gt;&gt; Get Auto Updates, If your documents has been printed &gt;&gt;&gt; Get it from our Center by Confirming OTP.</p>
                <ul>Benefits Of using our online service:
                    <li><span class="ti-pencil-alt"></span>- Save your documents for a week on our server, whenever you want it just call at our center, Just Tell your identity and document Name and we will get it printed for you.</li>
                    <li><span class="ti-ruler-pencil"></span>- Fast and Easy way: You don't have to wait for your turn to get your documents printed. We are here to save your precious time. </li>
                    <li><span class="ti-pencil-alt"></span>- Automatic Updates: Our system will update you on dashboard once the documents are printed.</li>
                </ul>
            </div>
        </div>
    </div>
</div>