<section>
    <div class="container-fluid">
        <div class="row">
            <!-- Breadcrumbs-->
            <!-- <ol class="breadcrumb">
                <li class="breadcrumb-item active">In Progress Print</li>
            </ol> -->
            <div class="col col-12">
              <div id="list_document_wrap">
                <%= render "documents/partial/documents_list" %>
              </div>
            </div>
        </div>
    </div>
</section>
