html {
  height: 100%;
}
body {
  min-height: 100%;
}

.preview {
    border-radius: 15px;
    background-position: center;
    width: 275px;
    height: 100px;
}

.notifyjs-corner {
    left: 50% !important;
    transform: translate(-50%, 0);
}

#loader_wrap {
    display: block;
    margin: auto;
    display: none;
    text-align: center;
}

.rightMenu{
    display: block;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 18, E:/172 Etrain Education/172_Etrain_Education_html/sass/_common.scss */
  .section_padding {
    padding: 80px 0px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 18, E:/172 Etrain Education/172_Etrain_Education_html/sass/_common.scss */
  .section_padding {
    padding: 70px 0px;
  }
  .rightMenu{
    display: none;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 18, E:/172 Etrain Education/172_Etrain_Education_html/sass/_common.scss */
  .section_padding {
    padding: 70px 0px;
  }
  .rightMenu{
    display: none;
  }
}

@media (max-width: 576px) {
  /* line 18, E:/172 Etrain Education/172_Etrain_Education_html/sass/_common.scss */
  .section_padding {
    padding: 70px 0px;
  }
  .rightMenu{
    display: none;
  }
}



table tr td,
table tr th {
    text-align: center;
    vertical-align: middle !important
}

.backGroundColor{
    background-size: 200% auto !important;
    background-image: linear-gradient(to left, #ee390f 0%, #f9b700 51%, #ee390f 100%) !important; 
}

.backGroundColor:hover{
    color: #fff;
    background-position: right center !important;
    box-shadow: 0px 10px 30px 0px rgba(193, 34, 10, 0.2) !important;
}

#fromDesktopModalContent,
#fromHistoryModalContent {
    box-shadow: 0 0 10px 5px rgba(45, 125, 193, 0.6);
    -moz-box-shadow: 0 0 10px 5px rgba(45, 125, 193, 0.6);
    -webkit-box-shadow: 0 0 10px 5px rgba(45, 125, 193, 0.6);
    -o-box-shadow: 0 0 10px 5px rgba(45, 125, 193, 0.6);
}

/*for increasing font awesome icon */
#user {
    font-size: 20px;
}

#cart {
    font-size: 25px;
}

.fa-trash,
.fa-eye {
    font-size: 25px;
}

embed {
    pointer-events: none;
}

.lg-backdrop {
    z-index: 1050;
}

.bg-color {
    background: #343a3f26;
    border: #343a3f;
    border-style: solid;
    padding: 30px;
    margin: 0px 20px;
}